.search-form {
  display: flex;
  align-items: center;
  margin: 80px auto;
  width: calc(100% - 70px * 2);

  gap: 40px;
}

.search-form__divider {
  margin: 0;
  width: calc(100% - 70px * 2);
  border: 1px solid rgba(170, 170, 170, 0.2);
}

.search-form__form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 7px;
  width: 100%;
  border: 1.5px solid rgba(170, 170, 170, 0.2);
  border-radius: 50px;
}

.search-form__form:focus-within {
  box-shadow: inset 0 0 0 1px #3456f3;
}

.search-form__input {
  padding: 15px 8px;
  width: 100%;
  outline: 0;
  border: none;
  border-radius: 50px;
  background-color: transparent;
  font-weight: normal;
  font-size: 14px;
  transition: box-shadow 0.2s;

  caret-color: #3456f3;
}

.search-form__input::placeholder {
  color: #a0a0a0;
}

.search-form__button {
  padding: 0;
  min-width: 80px;
  height: 34px;
  outline: 0;
  border: none;
  border-radius: 40px;
  background: center no-repeat url('../../images/search-icon.svg') #3456f3;
  cursor: pointer;
  transition: opacity 0.2s;

  user-select: none;
}

.search-form__button:hover {
  opacity: 0.6;
}

.search-form__filter {
  display: flex;
  align-items: center;
  margin: 0;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;

  gap: 14px;
}

.search-form__filter-checkbox {
  position: relative;
  top: 0;
  left: 0;
  width: 36px;
  height: 20px;
  outline: none;
  border-radius: 20px;
  background-color: #ebebeb;
  cursor: pointer;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;

  appearance: none;
}

.search-form__filter-checkbox::after {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #ffffff;
  content: '';
  transition: left 0.2s;
}

.search-form__filter-checkbox:hover::after {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.search-form__filter-checkbox:checked {
  background-color: #ebebeb;
}

.search-form__filter-checkbox:checked::after {
  position: absolute;
  top: 2px;
  left: 18px;
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  background-color: #2be080;
  content: '';
}

@media only screen and (max-width: 989px) {
  .search-form {
    flex-direction: column;
    margin: 60px auto;
    width: calc(100% - 30px * 2);

    gap: 35px;
  }

  .search-form__divider {
    width: calc(100% - 30px * 2);
  }
}

@media only screen and (max-width: 619px) {
  .search-form {
    flex-direction: column;
    margin-bottom: 40px;
    width: calc(100% - 10px * 2);

    gap: 40px;
  }

  .search-form__input {
    font-size: 11px;
    line-height: 18px;
  }

  .search-form__divider {
    width: calc(100% - 10px * 2);
  }

  .search-form__filter {
    font-size: 11px;
    line-height: 18px;
  }
}
