.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  min-height: 74px;
  width: calc(100% - 70px * 2);
}

@media only screen and (max-width: 989px) {
  .header {
    width: calc(100% - 30px * 2);
  }
}

@media only screen and (max-width: 619px) {
  .header {
    width: calc(100% - 14px * 2);
  }
}
